<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Mausam.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AED889DC1F2B2CE500FA6BF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AED889F01F2B2CE500FA6BF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AED889FB1F2B2CE600FA6BF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
